apiVersion: v1
kind: Namespace
metadata:
  name: poc

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: poc
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
          name: redis
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 5
          periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: poc
  labels:
    app: redis
spec:
  type: ClusterIP
  selector:
    app: redis  
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sunspot-backend
  namespace: poc
  labels:
    name: sunspot-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sunspot-backend
  template:
    metadata:
      labels:
        app: sunspot-backend
    spec:
      initContainers:
      - name: redis-client
        image: busybox:1.36
        command: ['sh', '-c', 'until nc -z -w 1 redis.poc.svc 6379; do echo waiting for redis service...; sleep 5; done;']    
      containers:
      - name: sunspot-backend
        image: ashishkumar256/trace-api:1
        imagePullPolicy: Always     
        env:     
        - name: OTEL_SERVICE_NAME
          value: sunspot-backend
        - name: OTEL_TRACES_EXPORTER
          value: otlp
        - name: OTEL_EXPORTER_OTLP_PROTOCOL
          value: http/protobuf
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://otel-agent-opentelemetry-collector.tracing.svc:4318
        - name: OTEL_RESOURCE_ATTRIBUTES
          value: application=sunspot-backend
        - name: OTEL_PYTHON_LOG_CORRELATION
          value: "true"
        - name: OTEL_METRICS_EXPORTER
          value: none
        - name: OTEL_PYTHON_DISABLED_INSTRUMENTATIONS
          value: aws-lambda                                                                      
        - name: DJANGO_SETTINGS_MODULE
          value: backend.settings
        - name: REDIS_SERVER
          value: "redis.poc.svc:6379"
        - name: OTEL_PYTHON_DJANGO_EXCLUDED_URLS
          value: "/status,^/admin/.*"
        ports:
        - name: http
          containerPort: 8000
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /status
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /status
            port: 8000
          periodSeconds: 10          

---
apiVersion: v1
kind: Service
metadata:
  name: sunspot-backend
  namespace: poc
spec:
  selector:
    app: sunspot-backend
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000