version: '3.9'

services:
  redis:  
    image: redis
    container_name: redis
    network_mode: "host"
  django:
    build: .
    network_mode: "host"    
    # ports:
    #   - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000 --noreload
    container_name: backend